---
- name: Install nginx
  apt:
    name: nginx
    state: present
    update_cache: yes
  notify: Restart nginx

- name: Copy nginx config
  template:
    src: default.conf.j2
    dest: /etc/nginx/sites-available/default
    mode: '0644'
  notify: Restart nginx
