---
- name: Playbook with handler
  hosts: docker_targets
  become: yes
  tasks:
    - name: Install nginx
      apt:
        name: nginx
        state: present
        update_cache: yes
      notify: Restart nginx

    - name: Copy nginx config
      copy:
        content: |
          server {
            listen 80;
            server_name localhost;
            location / {
              return 200 "Hello from Ansible!\n";
            }
          }
        dest: /etc/nginx/sites-available/default
        mode: '0644'
      notify: Restart nginx

    - name: Force handler trigger
      file:
        path: /tmp/force-handler.txt
        state: touch
      notify: Restart nginx

  handlers:
    - name: Restart nginx
      service:
        name: nginx
        state: restarted
